.wrapper{
    display: grid;
    grid-template-columns: 50% 50%;
}

.wrapper > div{
    background: #eee;
    padding: 3px;
}

.wrapper > div:nth-child(odd){
    background: #ddd;


.container {

    grid-template-columns: 1fr 1fr 10px 2fr;
    grid-template-rows: 200px 200px 1fr;
}
}